@page "/"
@using Greenhouse.Config

@inject Microsoft.Extensions.Options.IOptions<Config> Config    
<PageTitle>Home</PageTitle>

<h1>Application name: @Config.Value.AppName</h1><br>
<h1>Application version: @Config.Value.AppVersion</h1>
