.alert-dark {
    position: relative;
}
.comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.comment-form .form-control {
    flex: 1;
    margin-right: 10px;
}
.comment-form .btn-success {
    flex-shrink: 0;
}